@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.container__product {
  display: flex;
  padding: 16px;
  justify-content: center; }
  .container__product__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    list-style-type: none; }
  .container__product .product__item {
    background-color: antiquewhite;
    border-radius: 8px; }
  .container__product .product__item h2 {
    font-size: 1.2rem;
    text-align: center;
    color: black;
    padding-bottom: 10px;
    font-weight: 600; }
  .container__product .product__item > img {
    width: 370px;
    height: 270px;
    border-radius: 8px;
    box-sizing: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: all 0.25s; }
  .container__product img:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
  .container__product p {
    text-align: center;
    padding: 0 1rem;
    font-size: 1.200rem;
    font-weight: 400;
    color: black; }

@media screen and (max-width: 1024px) {
  .container__product {
    display: flex;
    padding: 16px;
    justify-content: center; }
    .container__product__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.5rem;
      list-style-type: none;
      width: 100%; }
    .container__product .product__item > img {
      width: 100%;
      height: 270px;
      border-radius: 8px;
      box-sizing: 0 2px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      text-align: center;
      transition: all 0.25s; } }

@media screen and (max-width: 868px) {
  .container__product {
    display: flex;
    padding: 16px;
    justify-content: center; }
    .container__product__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.5rem;
      list-style-type: none;
      width: 100%; }
    .container__product .product__item > img {
      width: 100%;
      height: 270px;
      border-radius: 8px;
      box-sizing: 0 2px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      text-align: center;
      transition: all 0.25s; } }

@media screen and (max-width: 480px) {
  .container__product {
    display: flex;
    padding: 16px;
    justify-content: center; }
    .container__product__list {
      display: flex;
      flex-wrap: wrap;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.5rem;
      list-style-type: none;
      width: 100%; }
    .container__product .product__item > img {
      width: 100%;
      height: 270px;
      border-radius: 8px;
      box-sizing: 0 2px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      text-align: center;
      transition: all 0.25s; } }

.formulary {
  padding: 60px; }
  .formulary form {
    width: 340px;
    height: 440px;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(100vw -40px);
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.4);
    max-width: calc(100vw -40px); }
  .formulary .formulary__h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center; }
  .formulary #boton {
    background: #bab6a5;
    color: #fff;
    padding: 5px;
    width: 100%;
    text-align: center; }
  .formulary #boton:hover {
    cursor: pointer; }
  .formulary input, .formulary textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 17px; }
  .formulary textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%; }

@media screen and (max-width: 1024px) {
  form {
    width: 100%; } }

@media screen and (max-width: 230px) {
  form {
    width: 100%; } }

.container__tittle {
  font-size: 2rem;
  color: white;
  text-align: center; }

.row {
  color: white;
  justify-content: center;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x)); }
  .row .container__p {
    font-size: 1.5rem; }
  .row .list {
    list-style: none;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    text-align: center; }
    .row .list .list-img {
      display: block;
      width: auto;
      text-align: left;
      margin-left: -7px; }
  .row .list-img__visa {
    text-align: center; }
  .row .list__img-visa {
    width: 60px;
    height: 50px;
    margin: 20px;
    border-radius: 1rem; }
  .row .list__img {
    margin-top: 20px;
    width: 60px;
    height: 50px;
    border-radius: 1rem;
    text-align: center; }

.col-md-4 {
  flex-shrink: 0;
  width: 30%;
  height: 280px;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
  text-align: center;
  background-color: burlywood;
  margin: 10px;
  border-radius: 12rem; }

@media screen and (max-width: 230px) {
  .container__tittle {
    font-size: 2rem; }
  .row {
    display: flex;
    flex-direction: column;
    align-content: center; }
  .col-md-4 {
    width: 60%; }
  .img__logo {
    width: 50px; } }

@media screen and (max-width: 650px) {
  .row {
    display: flex;
    flex-direction: column;
    align-content: center; }
  .col-md-4 {
    width: 60%; } }

@media screen and (max-width: 767px) {
  .list-img {
    display: block;
    width: auto;
    text-align: left;
    margin-left: -6px; }
  .row {
    display: flex;
    flex-direction: column;
    align-content: center; }
  .col-md-4 {
    width: 56%;
    margin: 12px; } }

.description__h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-top: 20px; }

.description__p {
  font-size: 1rem;
  color: white;
  text-justify: center;
  text-align: center;
  padding: 20px; }

.description {
  width: 100%; }

.imagenes {
  display: flex;
  width: 100%;
  margin: auto;
  max-width: 1000px;
  justify-content: center; }
  .imagenes img {
    width: 50%;
    display: flex; }

@media screen and (max-width: 680px) {
  .description .description__p {
    font-size: 1rem; }
  .imagenes {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    .imagenes img {
      width: 100%; } }

*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  background: linear-gradient(rgba(25, 22, 2, 0.75), rgba(2, 7, 20, 0.75)), url("../assets/caramelos.jpg");
  font-family: "Rubik", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-size: 100vw 100vh;
  margin: 0;
  font-size: 16px;
  height: 100vh;
  overflow-x: hidden;
  align-items: center;
  background-attachment: fixed; }

.img__h2 {
  font-weight: 800;
  text-align: center;
  color: white;
  margin: 20px 0px; }

.img__container > article {
  align-items: center; }

.description__h2 {
  font-size: 30px;
  color: white;
  text-align: center; }

.description__p {
  font-size: 20px;
  color: white;
  text-justify: center;
  text-align: center;
  padding: 20px; }

header {
  background: rgba(186, 183, 113, 0.3); }
  header .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 100%; }
    header .navbar__container .logo {
      position: absolute;
      padding: 20px 50px;
      width: 300px; }
    header .navbar__container .img__logo {
      height: 40px; }
    header .navbar__container .navbar__list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
      grid-gap: 0.5rem;
      margin: auto 0; }
      header .navbar__container .navbar__list .navbar__li {
        list-style-type: none;
        display: inline-block;
        margin: 0 5px;
        line-height: 80px; }
        header .navbar__container .navbar__list .navbar__li .navbar__link {
          text-decoration: none;
          color: white;
          font-size: 1.2rem;
          display: block;
          text-transform: uppercase; }
        header .navbar__container .navbar__list .navbar__li .navbar__link:hover {
          font-size: 1.3rem; }
  header .checkbtn {
    font-size: 30px;
    color: #fff;
    line-height: 80px;
    display: none;
    margin-right: 40px;
    cursor: pointer; }
  header #check {
    display: none; }

.networks__container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f2e9c3;
  margin-top: 1rem; }
  .networks__container .networks__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-decoration: none;
    list-style-type: none; }
    .networks__container .networks__list a {
      text-decoration: none; }

.red--twitter {
  background: linear-gradient(45deg, #66757f, #00acee, #36d8ff, #f5f8fa, #ffffff); }
  .red--twitter:hover {
    color: white; }

.red--facebook {
  background: linear-gradient(120deg, #3b5998, #ffffff); }
  .red--facebook:hover {
    color: white; }

.red--instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%); }
  .red--instagram:hover {
    color: white; }

.carousel-control-prev-icon {
  background-color: black; }

.carousel-control-next-icon {
  background-color: black; }

@media screen and (max-width: 1130px) {
  header .navbar__container .navbar__list .navbar__li .navbar__link {
    font-size: 1rem; }
  header .navbar__container .navbar__list .navbar__li .navbar__link:hover {
    font-size: 1.2rem; } }

@media screen and (max-width: 952px) {
  header .navbar__container .logo {
    width: 250px; }
  header .navbar__container .navbar__list .navbar__li .navbar__link {
    font-size: 0.8rem; }
  header .navbar__container .navbar__list .navbar__li .navbar__link:hover {
    font-size: 1rem; } }

@media screen and (max-width: 880px) {
  header .navbar__container .logo {
    width: 300px; }
  header .navbar__container .navbar__list {
    display: block;
    position: fixed;
    width: 100%;
    height: -100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s; }
    header .navbar__container .navbar__list .navbar__li {
      display: block;
      margin: 50px 0px;
      line-height: 30px; }
      header .navbar__container .navbar__list .navbar__li .navbar__link {
        font-size: 0.8rem; }
      header .navbar__container .navbar__list .navbar__li .navbar__link:hover, header .navbar__container .navbar__list .navbar__li .navbar__link.active {
        background: none;
        color: red; }
  header .checkbtn {
    display: block; }
  #check:checked ~ .navbar__list {
    left: 0%;
    height: 0 auto;
    z-index: 100; } }

@media screen and (max-width: 488px) {
  header .navbar__container .logo {
    width: 250px; }
  header .navbar__container .navbar__list {
    display: block;
    position: fixed;
    width: 100%;
    height: -100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s; }
    header .navbar__container .navbar__list .navbar__li {
      display: block;
      margin: 50px 0px;
      line-height: 30px; }
      header .navbar__container .navbar__list .navbar__li .navbar__link {
        font-size: 0.8rem; }
      header .navbar__container .navbar__list .navbar__li .navbar__link:hover, header .navbar__container .navbar__list .navbar__li .navbar__link.active {
        background: none;
        color: red; }
  header .checkbtn {
    display: block;
    margin-right: 80px; }
  #check:checked ~ .navbar__list {
    left: 0%;
    height: 0 auto;
    z-index: 100; } }
