@import "./views/productos";
@import "./views/contacto";
@import "./views/medios_de_pago";
@import "./views/nosotros";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgba(25, 22, 2, 0.75), rgba(2, 7, 20, 0.75)),
    url("../assets/caramelos.jpg");
  font-family: "Rubik", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-size: 100vw 100vh;
  margin: 0;
  font-size: 16px;
  height: 100vh;
  overflow-x: hidden;
  align-items: center;
  background-attachment: fixed;
 }



.img__h2 {
  font-weight: 800;
  text-align: center;
  color: white;
  margin: 20px 0px;
}
.img__container > article {
  align-items: center;
}

.description__h2 {
  font-size: 30px;
  color: white;
  text-align: center;
}
.description__p {
  font-size: 20px;
  color: white;
  text-justify: center;
  text-align: center;
  padding: 20px;
}
.img__logo{
  text-align: center;
}
header {
  background: rgba(186, 183, 113, 0.3);
  .navbar__container {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1.5rem;
    
    img {
      width: 200px;
    }
    .navbar__list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
      grid-gap: 0.5rem;
      margin: auto 0;
      top: 65px;
      .navbar__li {
        list-style-type: none;
        margin: 0 auto;
        .navbar__link {
          text-decoration: none;
          color: white;
          font-size: 1.2rem;
          display: block;
          text-transform: uppercase;
        }
        .navbar__link:hover {
          font-size: 1.3rem;
        }
      }
      
    }

    .bi-list {
      font-size: 40px;
      color: white;
    }
  }

  
  
}

.networks__container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f2e9c3;
  margin-top: 1rem;
  

  .networks__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-decoration: none;
    list-style-type: none;
    a {
      text-decoration: none;
    }
  }
}

$redes: (
  twitter: linear-gradient(45deg, #66757f, #00acee, #36d8ff, #f5f8fa, #ffffff),
  facebook: linear-gradient(120deg, #3b5998, #ffffff),
  instagram:
    radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    ),
);
@each $red, $color in $redes {
  .red--#{$red} {
    background: $color;
    &:hover {
      color: white;
    }
  }
}

.carousel-control-prev-icon {
  background-color: black;
}
.carousel-control-next-icon {
  background-color: black;
}

.boton_burger {
  margin-right: 30px;
  display: none;
  cursor: pointer;
}
ul.show {
  top: 65px;
}

@media screen and (max-width: 858px){
  main{
    height: 54%;
    margin-bottom: auto;
  }
.carrusel{ 
     margin-bottom: 150px;
     width: auto 0;
   }
  
 
  .navbar__list{
  width: 100vw;
}

  .boton_burger{
    display: inline-flex;
  }
  .img__logo{
    width: auto;
  }
  header {
    
    .navbar__container {
      img {
        width: 100px;
        margin-top: 21px; 
      }
      .navbar__list {
        position: fixed;
        width: 100vw;
        height: calc(100%-65px);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
        .navbar__li {
          margin: 30px 0 0 0;
          line-height: 30px;
          .navbar__link {
            font-size: 0.9rem;
            font-weight: bold;
            
          }
          .navbar__link:hover {
            font-size: 1rem;
          }
        }
        
      }
    }}}
    @media screen and (max-width:858px) and (orientation: landscape){
      header { .navbar__container {
         .navbar__list {
            overflow: scroll;
            height: calc(100%-65px);
            .navbar__li {
              margin: 5px 0 0 0;
              .navbar__link {
                font-size: 0.9rem;
                font-weight: bold;
                
              }}}}}
    }

    @media screen and (max-width: 488px){
      main{
        height: 54%;
        margin-bottom: auto;
      }
    .carrusel{ 
         margin-bottom: 150px;
         width: auto 0;
       }
       .networks__container{
      position:absolute;
      height:50px;
      text-align:center;
      width:100%;
      margin-top: 240px;  
       }
     
      .navbar__list{
      width: 100vw;
    }
    
      .boton_burger{
        display: inline-flex;
      }
      .img__logo{
        width: auto;
      }
      header {
        
        .navbar__container {
          img {
            width: 100px;
            margin-top: 21px; 
          }
          .navbar__list {
            position: fixed;
            width: 100vw;
            height: calc(100%-65px);
            top: -100vh;
            text-align: center;
            transition: all .4s;
            flex-direction: column;
            .navbar__li {
              margin: 30px 0 0 0;
              line-height: 30px;
              .navbar__link {
                font-size: 0.9rem;
                font-weight: bold;
                
              }
              .navbar__link:hover {
                font-size: 1rem;
              }}}}}
            }
        @media screen and (max-width:858px) and (orientation: landscape){
          header { .navbar__container {
             .navbar__list {
                overflow: scroll;
                height: calc(100%-65px);
                .navbar__li {
                  margin: 5px 0 0 0;
                  .navbar__link {
                    font-size: 0.9rem;
                    font-weight: bold;
                    
                  }}}}}
        }
  

