.formulary{
    padding: 60px;
  form{
    width: 340px;
    height: 440px;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(100vw -40px);
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.4);
    max-width: calc(100vw -40px);
  }
  .formulary__h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
  #boton{
    background: #bab6a5;
    color: #fff;
    padding: 5px;
    width: 100%;
    text-align: center;
  }
  #boton:hover {
    cursor: pointer;
  }
  input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 17px;
}
textarea{
min-height: 100px;
max-height: 200px;
max-width: 100%;
}
}
@media screen and (max-width: 1024px){
  form{
    width: 100%;
  }

}

@media screen and (max-width: 230px){
  form{
    width: 100%;

  }
  
}