
    .container__tittle{
        font-size: 4rem;
        color: white;
        text-align: center;
    }
    
.row{
    color:white;
    justify-content: center;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
        .container__p{
            font-size: 1.5rem;
        }
        .list{
            list-style: none;
            display: flex;
            margin-top: 20px;
           flex-direction: row;
           text-align: center;
           .list-img{
            display: block;
            width: auto;
            text-align: center;
           }
        }
        .list-img__visa{
            text-align: center;
            
        }
        .list__img-visa{
            width: 60px;
            height: 50px;
            margin: 20px;
            border-radius: 1rem;
            
        }
        
        .list__img{
            margin-top: 20px;
            width: 60px;
            height: 50px;
            border-radius: 1rem;
            text-align: center;
        } 
        
}

.col-md-4{
    flex-shrink: 0;
    width: 30%;
    height: 280px;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    text-align: center;
    background-color: burlywood;
 margin: 10px;
 border-radius: 12rem;
}

   




@media screen and (max-width: 650px){
    .row{
        display: flex;
        flex-direction: column;
        align-content: center;
        
    }
    .col-md-4{
        width: 60%;
    }
}
@media screen and (max-width: 767px){
    .row{
        display: flex;
        flex-direction: column;
        align-content: center;
        
    }
    .col-md-4{
        width: 60%;
        margin: 20px;
    }
}

 



