.description__h2 {
    font-size: 30px;
    color: white;
    text-align: center;}
  .description__p {
    font-size: 20px;
    color: white;
    text-justify: center;
    text-align: center;
    padding: 20px;
  }
  .imagenes{
    display: flex;
    .img-nosotros{
      width: auto;
    }
  }
