*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;}
  body {
    background: linear-gradient(rgba(25, 22, 2, 0.75), rgba(2, 7, 20, 0.75)),
      url(caramelos.jpg);
    font-family: "Rubik", sans-serif;
    display: grid;
    background-size: 100vw 100vh;
    margin: 0;
    font-size: 16px;
    height: 100vh;
    background-attachment: fixed;
    align-items: center;
    }

.container__product{
    display: flex;
    padding: 16px;
    justify-content: center;
    &__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    list-style-type: none;}
    .product__item h2{
        text-align: center;
        color: white;
        padding-bottom: 10px; 
        }
        .product__item > img{
            width: 150px;
            height: 150px;    
            }
}

