
.container__product{
    display: flex;
    padding: 16px;
    justify-content: center;
    &__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    list-style-type: none;}
    .product__item h2{
        text-align: center;
        color: white;
        padding-bottom: 10px; 
        }
        .product__item > img{
            width: 150px;
            height: 150px;    
            }
}

